body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    color:darkslategray;
    font-weight: 700;
}
.top{
    display: flex;
    margin-bottom: 100px;
}
.orange{
    color: orange;
}
.button{
   text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin: 0px;   
}
.first-half{
    width: 50%;
    margin-left: 60px;
    margin-top: 80px;
}
.first-halftwo{
    width: 50%;
}
.first-halftwo img{
    width: 80%;
}
.second-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin: 0px;  
}
.middle{
    display: flex;
    background-image: url(image/7.png);
    background-position: center;
    margin-bottom: 100px;
}
.mid{
    width: 50%;
}
.midtwo{
    width: 50%;
  }
  .midtwo img{
      width:60%;
  }
  .recipe{
      text-align: center;
      font-weight: 400;
      margin-bottom: 100px;
  }
  .last-part{
      display: flex;
      margin-left: 35px;
      margin-right: 35px;
      margin-bottom: 100px;
  }
  .recipe-width img{
      width:100%;
  }
  .recipe-width{
    width:30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;
    }
    .footer-head{
        color:orange ;
    }
    .footer{
        text-align: center;
        background-color: black;
        height: 200px;
        padding-bottom: 45px;
    }
    .footer-p{
        color: blanchedalmond;
    }
  .optional{
      display: flex;
      margin-left: 175px;
      margin-right: 150px;
      padding: 30px 50px white;
      box-shadow: 10px 10px 40px  gray; 
      border-radius: 20px;
      margin-bottom: 100px;
  }
  .optiondiv{
      width:33%;
      margin-left: 85px;
    margin-right: 85px;
  }
  .My-part{
      display: flex;
      margin-bottom: 100px;
  }
  .others{
    width:30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;
    }
    .others img{
        width:100%;
    }
    .lone{
        text-align: center;
    }