body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    color:darkslategray;
    font-weight: 700;
}
p{
    font-size: 25px;
}
.top{
    display: flex;
    margin-bottom: 100px;
}
.orange{
    color: orange;
}
.button{
   text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin: 0px;   
}
.first-half{
    width: 50%;
    margin-left: 60px;
    margin-top: 80px;
}
.first-halftwo{
    width: 50%;
}
.first-halftwo img{
    width: 80%;
}
.second-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin: 0px;  
}
.middle{
    display: flex;
    background-image: url(image/7.png);
    background-position: center;
    margin-bottom: 100px;
}
.mid{
    width: 50%;
}
.midtwo{
    width: 50%;
  }
  .midtwo img{
      width:60%;
  }
  .recipe{
      text-align: center;
      font-weight: 400;
      margin-bottom: 100px;
  }
  